<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>登录</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="Shortcut Icon" href="https://s1.ax1x.com/2020/03/27/GPH9xO.png" type="image/png" />
        <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="margin-top:50px;">
    <canvas id="bubble-background" style="background-color:black;position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-10;">
    </canvas>
    <div class="container" style="background: rgba(255,255,255,0.5);padding:50px;">
        <h1>登录</h1>
        <div th:if="${param.register}" class="alert alert-success alert-dismissable">
            注册成功,请使用注册的用户名和密码登录。
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
        </div>
        <div th:if="${param.error}" class="alert alert-danger alert-dismissable">
            登录失败：用户名或密码错误。
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
        </div>
        <div th:if="${param.logout}" class="alert alert-success alert-dismissable">
            退出登录成功！
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
        </div>
        <form th:action="@{/login}" method="post" role="form" class="form-horizontal">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input id="username" type="text" name="username" class="form-control" required="required" placeholder="请输入用户名"/>
            </div>
            <div class="form-group">
                <label for="password"> 密码:</label>
                <input id="password" type="password" name="password" class="form-control" required="required" placeholder="请输入密码"/>
            </div>
            <div class="form-group">
                <input type="submit" value="登录" class="form-control"/>
                <br />
            </div>
        </form>
        <a href="register" class="btn btn-success btn-block">注册</a>
        <a href="find" class="btn btn-warning btn-block">忘记密码?</a>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        canv=document.getElementById("bubble-background");
        context=canv.getContext("2d");
        bubbles=[];
        iterationVar=0;
        maxBubbles=0;
        window.onresize=recalculateCanvasWidth;
        window.setTimeout(function(){
            document.getElementById("cover").className="shown";
        })
        window.setTimeout(recalculateCanvasWidth,1);
        window.setInterval(function(){
            if(bubbles.length<=maxBubbles&&Math.random()>0.98){
                addBubble();
            }
            renderBubbles();
        },1);
        function recalculateCanvasWidth(){
            canv.width=canv.clientWidth;
            canv.height=canv.clientHeight;
            maxBubbles=Math.round(canv.clientHeight*canv.clientWidth/1000);
        }
        function addBubble(){
            value=(Math.round(Math.random()*200+55)).toString(16);
            bubble=
                {
                    color:"#00"+value+""+value,
                    radius:Math.round(Math.random()*50),
                    speed:Math.random()*0.8+0.2,
                    x:Math.random()*canv.clientWidth,
                    y:canv.clientHeight
                }
            bubble.y+=bubble.radius;
            bubbles.push(bubble);
        }
        function renderBubbles(){
            iterationVar+=2*Math.PI/1000;
            iterationVar=iterationVar>=2*Math.PI?iterationVar-2*Math.PI:iterationVar;
            context.beginPath();
            context.fillStyle="#000000";
            context.fillRect(0,0,canv.clientWidth,canv.clientHeight);
            context.closePath();
            for(var i=0;i<bubbles.length;i++){
                var temp=bubbles[i];
                temp.y-=temp.speed;
                temp.x-=Math.sin(iterationVar)*temp.speed;
                if(temp.y<-temp.radius||temp.x<-temp.radius){
                    bubbles.splice(i,1);
                    i--;
                }
                context.beginPath();
                context.fillStyle=temp.color;
                context.arc(temp.x,temp.y,temp.radius,-Math.PI/2,3*Math.PI/2,true);
                context.fill();
                context.closePath();
            }
        }
    </script>
    </body>
</html>